<%= form_with model:order,url:admin_order_path(order),method: :patch, local:true do |f| %>
  <div class="form-group">
    <%= f.label:status, "注文ステータス"%>
    <%= f.select :status,Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
  </div>
  <div class="form-group">
    <%= f.submit "更新"%>
</div>
<% end %>