<h3>マイページ</h3>
<div class="font-weight-bold">
登録情報
</div>
<table border="1">

    <tbody>
        <tr valign="middle">
            <td width="200" height="40">氏名</td>
            <td width="400" height="40">
               <%= "#{@customer.fist_name、}" %>
            </td>

        </tr>

    </tbody>

</table>
